<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TwitterOAuthBearerToken" value="AAAAAAAAAAAAAAAAAAAAAP%2FVUgAAAAAAv%2FN2%2F%2FXEPUdIvz6yZPwz%2BYduUVE%3DzT3Siv5RmnuKJt2J9hmSQa51jHs2lXZorGzkVwbW1FZ5mdMjDt"/>
    <add key="ForScreenNames" value="pay_by_phone,PayByPhone,PayByPhone_UK"/>
    <add key="ForDaysPeriod" value="14"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
</configuration>
